# Environment variables example
# Copy this file to .env and fill in the values. (DO NOT ADD SENSITIVE SECRETS TO THIS FILE)

VITE_API_BASE_URL=https://api.example.com
VITE_APP_NAME="Sketchpad"
VITE_ENVIRONMENT=development
